.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

title {
  text-align: center;
}

#name {
  color: rgb(146, 13, 35)
}

.img2 {
  display: flex;
  height: auto;
  justify-content: center;
}

.paragraphs {
  font-size: 1em;
  text-align: center;
  color: rgb(43, 199, 43)
}

div {
  color: black;
  background-color: antiquewhite;
  float: center;
  text-align: center;
}

span {
  color: rgb(18, 189, 32);
}

.column {
  flex: 1;
  margin: 10px;
}

.box {
  padding: 20px;
  border: 10px solid plum;
  background-color: red;
  margin: 10px;
  text-align: center;
}

.activities {
  font-size: 1.5em;
}

.current {
  font-size: 2em;
}