body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aqua;
}

title {
  text-align: center;
}

.container {
  flex-basis: 30%;
  margin: 10%;
  padding: 20px;
  border: 10px solid plum;
  background-color: red;
  text-align: center;
}

.column {
  flex-basis: 30%;
  margin: 10px;
}

.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  color: red;
  font-size: 3em;
  text-align: center;
}

.paragraphs {
  font-size: 1em;
  text-align: center;
  color: rgb(43, 199, 43)
}

.activities {
  font-size: 1.5em;
}

.img2 {
  display: flex;
  height: auto;
  justify-content: center;
}

.current {
  font-size: 2em;
}

div {
  color: black;
  background-color: antiquewhite;
  text-align: center;
}

span {
  color: rgb(18, 189, 32);
}

.box {
  padding: 20px;
  border: 10px solid plum;
  background-color: red;
  margin: 10px;
  text-align: center;
}